# .NET
**/BuildMateAPI/bin/
**/obj/
**/*.user
**/*.suo
**/.vs/

# Node / CDK
**/node_modules/
**/cdk.out/
**/*.tsbuildinfo

# IDE
.idea/
*.swp
.DS_Store

# User-specific files
*.user
*.suo

# .NET user secrets
secrets.json

# Environment files
.env
.env.*

# Local settings
appsettings.Local.json